Django==4.1.7
mysqlclient==2.1.1
django-simpleui==2023.3.1
channels==4.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-allauth==0.53.1
django-crispy-forms==2.0
crispy-bootstrap4==2022.1
PyMySQL==1.0.2
pycryptodome==3.17
paho-mqtt==1.6.1
django-guardian==2.4.0