{% extends 'dark/base.html' %}
{% load i18n %}

{% block management_tab_color_tab_color %}active{% endblock %}

{% block main-container %}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">{% trans 'Management' %}</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Home' %}</a></li>
                    {% block breadcrumb %}
                    <li class="breadcrumb-item active"><a href="{% url 'myaccount:management' %}">{% trans 'Management' %}</a></li>
                    {% endblock %}
                </ol>
            </div>
        </div>
    </div>
    {% if 'myaccount:management' in MENU_NEED_URL  %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs customtab" role="tablist">
                        <li class="nav-item"> <a class="nav-link" href="{% url 'myaccount:management' %}" {% block management_userlist_tab_color %}{% endblock %}>{% trans 'Users' %} </a></li>
                        <li class="nav-item"> <a class="nav-link" href="{% url 'myaccount:management_groups' %}" {% block management_groups_tab_color %}{% endblock %}>{% trans 'Groups' %} </a></li>
                    </ul>
                    {% block management_nav_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}